S3method("[",rate_curve)
S3method(plot,rate_curve)
export(adjust_disc)
export(cft)
export(dir_to_eff)
export(disc_cf)
export(disc_to_french)
export(disc_to_fut)
export(disc_to_german)
export(disc_to_spot)
export(disc_to_swap)
export(eff_to_dir)
export(find_rate)
export(fut_to_disc)
export(fut_to_spot)
export(get_rate_fun)
export(irr)
export(loan)
export(npv)
export(pmt)
export(rate)
export(rate_curve)
export(rem)
export(spot_to_disc)
export(swap_to_disc)
import(ggplot2)
